#header, #app-navigation, #mail_messages, #mail-setup, div.reply-message-fields{
  display: none;
}

#app{
}

#mail-message{
  position: relative;
  width: 95%;
  overflow-x: auto;
  overflow-y: auto;
}

#content-wrapper{
  position: relative;
}

#app-content{
}

#mail-message-header{
  width: 100%;
}
